[Unit]
Description=Auto deploy the user's dotfiles

[Service]
Restart=no
ExecStart=watchexec 'bombadil link -p {{profile}}'
WorkingDirectory=%h/.dotfiles

[Install]
WantedBy=default.target
