[Unit]
Description=Automatically lock the screen on suspend.

[Service]
Type=simple
# xss-lock listens for any sleep signals and calls the specified command
# once it detects a sleep/hibernate signal.
ExecStart=xss-lock %h/.bin/i3lock-blur
