[Unit]
Description=Daily sync of all database backups from jarvis

[Service]
Type=simple
ExecStart=rsync \
    --archive \
    --delete \
    backup@jarvis:/var/lib/backup/db %h/.local/share/db_backup

[Install]
WantedBy=default.target
