[Unit]
Description=Auto deploy the user's dotfiles

[Service]
Restart=no
ExecStart=watchexec --postpone '%h/.cache/cargo/bin/bois deploy'
WorkingDirectory=%h/.config/dotfiles

[Install]
WantedBy=default.target
