[Unit]
Description=Start easyeffects in the background

[Service]
Type=simple
ExecStart=easyeffects --gapplication-service

[Install]
WantedBy=default.target
